$text_color: #757575;
$navbar_background_color: rgba(255, 255, 255, 0.85);
$navbar_text_color: #777;
$title_text_color: #555;

$main_color: #fff;
$secondary_color: #3498db;

$twitter_color: #2BA9E0;
$linkedin_color: #015786;
$github_color: #000;
$wordpress_color: #21759b;

$page_background_color: #fff;
$page_background_color_secondary: #f7f7f7;
