@import "colors";
@import "welcome";

.centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

.page-profile {
  padding: 75px 0;
  background: $page_background_color;
}

.page-profile .profile {
  width: 225px;
  height: 225px;
  margin: 0 20px 20px 0;
  border: 5px solid #333;

  @media (max-height: 450px) {
    margin: 0 auto 20px auto;
  }

  @media (max-width: 768px) {
    margin: 0 auto 20px auto;
  }

  img {
    width: 215px;
    height: 215px;
  }
}

.page-skills-development {
  padding: 75px 0;
  text-align: center;
  background: $page_background_color_secondary;

  @media (max-width: 479px) {
    text-align: center;
  }
}

.page-skills-management {
  padding: 75px 0;
  text-align: center;
  background: $page_background_color;

  @media (max-width: 479px) {
    text-align: center;
  }
}

.page-education {
  padding: 75px 0;
  background: $page_background_color_secondary;
}

.page-experience {
  padding: 75px 0;
  background: $page_background_color;
}

.page-contact {
  padding: 75px 0;
  color: $main_color;
  background: $secondary_color;
}

.page-contact .contact-info p {
  font-size: 1.2em;
}

.page-contact .contact-info p a {
  color: $main_color;
}

.page-contact .spacer {
  background: $main_color;
}

.page-contact .section-title {
  color: $main_color;
}
