.vegas-overlay {
  background: transparent url(../img/overlays/16.png);
  opacity: 0.5;
}

.vegas-overlay, .vegas-background {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider-controls {
  padding: 0;
  margin: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slider-controls li {
  list-style: none;
}

.page-welcome:hover .slider-controls {
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slider-controls li a {
  position: absolute;
  top: 40%;
  z-index: 10;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.next {
  right: 0;
  margin-right: 70px;
  background: url("../img/next.png");
  opacity: 0.3;
}

.prev {
  left: 0;
  margin-left: 70px;
  background: url("../img/prev.png");
  opacity: 0.3;
}

.next:hover, .prev:hover {
  opacity: 1;
}
